docs
cookbook
.circleci
.github
tests
.git
.github
.circleci
.devcontainer
*.tgz
log.txt
docker/Dockerfile.*
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
.env
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
*.cover
.idea/
.vscode/
*.log
